@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap');

body {
    font-size: 12px;
}

h1, h2 {
    color: #fff;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 300;
}

.background_cont {
    height: 100vh;
    background: url('../images/background.jpg') no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
    color: #fff;
}

@media (max-width: 1199.98px) {
    .background_cont {
        background-position: 70% 50%;
    }
}

@media (max-width: 767.98px) {
    .background_cont {
        background-position: 67% 50%;
    }
}

.background_cont p {
    display: block;
    margin-top: 130px;
    font-size: 1.3em;
}

.background_cont p span.ellipsis {
    display: inline;
    text-align: left;
}

.background_cont p span.ellipsis:after {
    display: inline-block;
    animation: dotty steps(1,end) 3s infinite;
    content: '';
    width: 16px;
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

.background_cont a {
    margin-top: 20px;
    color: #fff;
}

.background_cont a:hover {
    text-decoration: navajowhite;
}

.background_cont a span {
    display: inline;
    position: relative;
    top: -3px;
}

.background_cont span {
    display: block;
}

.footer {
    font-size: 0.6em;
    font-style: italic;
}

.footer span {
    color: red;
    display: inline;
}